<div class="container ml-auto">

	<div class="justify-content-center">
	<h1>Welcome to Shubhendu's Instagram</h1>

		<h3><%= link_to 'Create new Post', new_post_path , class: 'btn btn-success'%></h3>
		<% @posts.each do |post| %>
	    <div class="row">
	    	<div class="col-6">
	    		<% if post.image_file.attached? %>
	    			<%= image_tag post.image_file.variant(resize: "600x600"), class: 'img img-fluid' %> 
	    		<%end%>
	    	</div>
	    	<div class="col-6">
	    		<h3><%= post.caption %></h3>
	    		<h4><%= link_to 'View', '/posts/'+String(post.id) , class: 'btn btn-success' %></h4>
	    		<h4><%= link_to 'Edit', edit_post_url(post) , class: 'btn btn-warning' %></h4>
	    		<h4><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger' %></h4>	
	    	</div>
	    </div>
	    <br>
	    <%end%>
	</div>
</div>